@model Models.MVC_Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="col-xs-6 col-md-12 content loginpage">
    <h2>@ViewBag.Title.</h2>

    <p>Deze sleutel is ongeldig of al gebruikt.</p>
    <p>Als u al een account heeft aangemaakt meld u dan @Html.ActionLink("hier","Login") aan</p>
    <p>Indien u verdere problemen heeft met de sleutel, neem dan contact op met de beheerder.</p>
</div>