@model Models.OmgevingsBoek_Models.Activiteit
@{
    ViewBag.Title = "Activiteiten";
}
<style>
    .no-close .ui-dialog-titlebar .ui-widget-header {
  display: none;
}
</style>
<h2>Activiteit</h2>

<div class="col-md-4">
    <label for="amount">Naam:</label>
    <input type="text" class="form-control" id="name" name="Naam" placeholder="Naam van activiteit">
    <label for="amount">POI:</label>
    <input type="text" class="form-control" id="poiName" placeholder="Klik op de afbeelding van een POI." disabled>
    <input type="hidden" class="form-control" id="poi" name="PoiId">
</div>
<div class="form-group col-md-5">
    <label for="amount">Tags:</label>
    <div class="input-group">
        <span class="input-group-addon tag"><span class="glyphicon glyphicon-tags"></span></span>
        <input name="TagsString" class="form-control tags" id="poiTags" value="" />
    </div>
</div>