@model Models.OmgevingsBoek_Models.Boek

@{
    ViewBag.Title = "Boeken";
}

<div class="col-xs-6 col-md-9 content" id="content">
    <div class="row books" id="mijnBoeken">
        <h3 class="rowheader">@Model.Naam</h3>
        @foreach (Models.OmgevingsBoek_Models.Activiteit activiteit in Model.Activiteiten)
        {
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <p>@activiteit.AfbeeldingNaam</p>
                    <span class="caption">@activiteit.Naam</span>
                </a>
                <span class="buttons">
                    <a href="/home/Activiteit?id=@activiteit.Id&action=share" class="expand btn btn-default" type="button"><span class="glyphicon glyphicon-share"></span></a>
                    <a href="/home/Activiteit?id=@activiteit.Id&action=public" class="expand btn btn-default" type="button"><span class="glyphicon glyphicon-eye-close"></span></a>
                    <a href="/home/Activiteit?id=@activiteit.Id&action=settings" class="expand btn btn-default" type="button"><span class="glyphicon glyphicon-cog"></span></a>
                </span>
            </div>
        }
        <div class="col-sm-6 col-md-3">
            <a href="#" class="toggleActivityForm">
                <span class="caption"><span class="glyphicon glyphicon-plus"></span> Activiteit toevoegen</span>
            </a>
        </div>
    </div>
</div>

<div class="col-xs-6 col-md-9 content" id="activityForm" style="
  position: absolute;
  bottom: 5%;
  height: 80%;
  overflow: hidden;
  display: none;
  background-color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
">
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control" id="name" name="name" placeholder="Naam van activiteit">
            <input type="text" class="form-control" id="poiName" placeholder="Klik op een POI." disabled>
            <input type="hidden" class="form-control" id="poi" name="poi">
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags">
        </div>
        <div class="col-md-3">
            <button class="toggleActivityForm btn btn-danger">
                <span class="caption"><span class="glyphicon glyphicon-remove"></span></span>
            </button>
        </div>

    </div>
    <div class="row">
        <div role="tabpanel" class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#basis" aria-controls="basis" role="tab" data-toggle="tab">Basis info</a></li>
                <li role="presentation"><a href="#media" aria-controls="media" role="tab" data-toggle="tab">Media</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="basis">Sapperloot!</div>
                <div role="tabpanel" class="tab-pane fade" id="media">Amai mijn gedacht!</div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".toggleActivityForm").click(function (e) {
        e.preventDefault();
        $("#activityForm").slideToggle(400, function () {
        });
    });

    function setListItemListeners() {
        $("#list .row.poi").each(
         function (element) {
             var poi = this;
             $(this).children(".preview").click(
               function (element) {
                   $("#poi").val($(poi).attr("data-id"));
                   $("#poiName").val($(poi).attr("data-title"));
                   console.log($(poi).attr("data-title"));
               }
             );
         });
    }

    function defer(method) {
        if (json != null) {
            method();
        } else
            setTimeout(function () { defer(method) }, 50);
    }

    defer(setListItemListeners);
</script>

@*@Html.Partial("_PoiPartial", Model)*@

@{ Html.RenderAction("PoiPartial", "Home"); }
