@model Models.OmgevingsBoek_Models.Boek

@{
    ViewBag.Title = "Boeken";
}

<div class="col-xs-6 col-md-9 content" id="content">
    <div class="row books" id="mijnBoeken">
        <h3 class="rowheader">@Model.Naam</h3>
        @foreach (Models.OmgevingsBoek_Models.Activiteit activiteit in Model.Activiteiten)
        {
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <p>@activiteit.AfbeeldingNaam</p>
                    <span class="caption">@activiteit.Naam</span>
                </a>
                <span class="buttons">
                    <a href="/home/Activiteit?id=@activiteit.Id&action=share" class="expand btn btn-default" type="button"><span class="glyphicon glyphicon-share"></span></a>
                    <a href="/home/Activiteit?id=@activiteit.Id&action=public" class="expand btn btn-default" type="button"><span class="glyphicon glyphicon-eye-close"></span></a>
                    <a href="/home/Activiteit?id=@activiteit.Id&action=settings" class="expand btn btn-default" type="button"><span class="glyphicon glyphicon-cog"></span></a>
                </span>
            </div>
        }
        <div class="col-sm-6 col-md-3">
            <a href="#" class="toggleActivityForm">
                <span class="caption"><span class="glyphicon glyphicon-plus"></span> Activiteit toevoegen</span>
            </a>
        </div>
    </div>
</div>

<div class="col-xs-6 col-md-9 content" id="activityForm" style="
  position: absolute;
  height: 99%;
  top:0;
  overflow-y:auto !important; /*fuck jquery*/
  bottom:0;
  display: none;
  background-color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
">
    @using (Html.BeginForm("AddActivity", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-4">
                <label for="amount">Naam:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Naam van activiteit">
                <label for="amount">POI:</label>
                <input type="text" class="form-control" id="poiName" placeholder="Klik op een POI." disabled>
                <input type="hidden" class="form-control" id="poi" name="poi">
            </div>
            <div class="form-group col-md-5">
                <label for="amount">Tags:</label>
                <div class="input-group">
                    <span class="input-group-addon tag"><span class="glyphicon glyphicon-tags"></span></span>
                    <input name="TagsString" class="form-control tags" id="poiTags" value="" />
                </div>
            </div>
            <div class="form-group col-md-2 upload">
                <label for="inputFile">Upload afbeelding</label>
                <div class="fileUpload btn btn-default form-control">
                    <span>Upload Foto</span>
                    <input type="file" class="upload" name="AfbeeldingFile" id="exampleInputFile" accept="image/x-png, image/gif, image/jpeg">
                </div>
            </div>
            <div class="col-md-1">
                <button class="toggleActivityForm btn btn-danger">
                    <span class="caption"><span class="glyphicon glyphicon-remove"></span></span>
                </button>
            </div>

        </div>
        <div class="row">
            <div role="tabpanel" class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#basis" aria-controls="basis" role="tab" data-toggle="tab">Basis info</a></li>
                    <li role="presentation"><a href="#media" aria-controls="media" role="tab" data-toggle="tab">Media</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="basis">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="amount">Leeftijd doelgroep:</label>
                                <input type="hidden" class="form-control" id="amount" readonly style="">
                                <div class="input-group">
                                    <span class="input-group-addon" id="minAgeBoek"></span>
                                    <div class="form-control slider" id="slider-boek-age"></div>
                                    <span class="input-group-addon" id="maxAgeBoek"></span>
                                    <input type="hidden" name="MaxLeeftijd" id="maxAgeHiddenBoek" />
                                    <input type="hidden" name="MinLeeftijd" id="minAgeHiddenBoek" />

                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="amount">Geschatte tijdsduur:</label>
                                <input type="hidden" class="form-control" id="amount" readonly style="">
                                <div class="input-group">
                                    <span class="input-group-addon" id="minTimeBook"></span>
                                    <div class="form-control" class="slider" id="slider-boek-time"></div>
                                    <span class="input-group-addon" id="maxTimeBook"></span>
                                    <input type="hidden" name="MaxLeeftijd" id="maxTimeHiddenBook" />
                                    <input type="hidden" name="MinLeeftijd" id="minTimeHiddenBook" />

                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="amount">Prijs per leerling:</label>
                                <div class="input-group">
                                    <span class="input-group-addon">&euro;</span>
                                    <input class="form-control" type="number" id="prijsLeerling" step="any" name="Prijs">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="amount">Toelichting:</label>
                                <textarea class="form-control" type="text" id="prijsLeerling" name="Prijs"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="amount">Uitleg activiteit:</label>
                                <textarea class="form-control" type="text" id="prijsLeerling" name="Prijs"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="amount">Benodigdheden:</label>
                                <div class="input-group">
                                    <span class="input-group-addon tag"><span class="glyphicon glyphicon-shopping-cart"></span></span>
                                    <input name="TagsString" class="form-control tags" id="poiTags" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="media">
                        <img src="https://farm1.staticflickr.com/406/18646821431_d7abcd1b1d_o_d.jpg"/>
                             amai mijn gedacht!</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-success form-control" data-loading-text='<i class="fa fa-spinner fa-pulse"></i>'>
                    <span class="glyphicon glyphicon-ok" />
            </button>
            </div>
        </div>
    }
</div>

<script>
    $(".toggleActivityForm").click(function (e) {
        e.preventDefault();
        $("#activityForm").slideToggle(400, function () {
        });
    });

    function setListItemListeners() {
        $("#list .row.poi").each(
         function (element) {
             var poi = this;
             $(this).children(".preview").click(
               function (element) {
                   $("#poi").val($(poi).attr("data-id"));
                   $("#poiName").val($(poi).attr("data-title"));
                   console.log($(poi).attr("data-title"));
               }
             );
         });

        $("#slider-boek-time").slider({
            range: true,
            min: 0,
            max: 24,
            values: [5, 10],
            slide: function (event, ui) {
                $("#amount").val("" + ui.values[0] + " - " + ui.values[1]);

                $("#minTimeBook").text("" + ui.values[0]);
                $("#maxTimeBook").text("" + ui.values[1]);

                $("#minTimeHiddenBook").val(ui.values[0]);
                $("#maxTimeHiddenBook").val(ui.values[1]);
                console.log("slider changed");

            }
        });

        $("#slider-boek-age").slider({
            range: true,
            min: 0,
            max: 18,
            values: [5, 10],
            slide: function (event, ui) {

                $("#minAgeBoek").text("" + ui.values[0]);
                $("#maxAgeBoek").text("" + ui.values[1]);

                $("#minAgeHiddenBoek").val(ui.values[0]);
                $("#maxAgeHiddenBoek").val(ui.values[1]);
                console.log("slider changed");

            }
        });

        $("#activityForm input:file").change(function () {
            var fileName = $(this).val();
            console.log(fileName);
            $("#activityForm .fileUpload").toggleClass("upload-ok");
            //$(".filename").html(fileName);
        });
    }

    function defer(method) {
        if (typeof listLoaded !== 'undefined') {
            method();
        } else
            setTimeout(function () {
                defer(method)
            }, 50);
    }

    defer(setListItemListeners);
</script>

@*@Html.Partial("_PoiPartial", Model)*@

@{ Html.RenderAction("PoiPartial", "Home"); }
