@{
    ViewBag.Title = "Contact";
}



<div class="createpage">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <address>
        Graaf Karel De Goedelaan 5<br />
        8500 Kortrijk<br />
        <abbr title="Phone">P:</abbr>
        0474 06 16 00
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:testUserAdmin@howest.be">testUserAdmin@howest.be</a><br />
    </address>
</div>