@model Models.PresentationModels.HomeIndexPM

@{
    ViewBag.Title = "Home Page";
}

<div class="col-xs-6 col-md-9 content" id="content">
    <div classname="row books" id="mijnBoeken">
        <div classname="row books">
            <h3 classname="rowheader">Mijn Boeken</h3>
        </div>
        @foreach (Models.OmgevingsBoek_Models.Boek boek in Model.BoekenEigenaar)
        {
            string foto = "";
            foreach (Models.PresentationModels.FotoId fotoid in Model.FotoIds)
            {
                if (fotoid.Id == boek.Id) { foto = fotoid.PhotoUrl; }
            }
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <img class="img-responsive" src="@foto" />
                    <span classname="caption">@boek.Naam</span>
                </a>
            </div>
        }
        
    </div>
    <div classname="row books" id="gedeeldeBoeken">
        <div classname="row books">
            <h3 classname="rowheader">Gedeelde Boeken</h3>
        </div>
        @foreach (Models.OmgevingsBoek_Models.Boek boek in Model.BoekenGedeeld)
        {
            string foto = "";
            foreach (Models.PresentationModels.FotoId fotoid in Model.FotoIds)
            {
                if (fotoid.Id == boek.Id) { foto = fotoid.PhotoUrl; }
            }
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <img src="@foto" />
                    <span classname="caption">@boek.Naam</span>
                </a>
            </div>
        }
    </div>
</div>




@*@Html.Partial("_PoiPartial", Model)*@
    
@{ Html.RenderAction("PoiPartial", "Home"); }
