@model IEnumerable<Models.PresentationModels.HomeIndexPM>

@{
    ViewBag.Title = "Home Page";
}

<div class="col-xs-6 col-md-9 content" id="content">
    <!--<h3 class="rowheader">Mijn Boeken</h3>
    <div class="row books">
        <div class="col-sm-6 col-md-3">
            <a href="#" style="background-image:url('http://lorempixel.com/350/150/city/')">

                <span class="caption">h3. Bootstrap heading</span>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#" style="background-image:url('http://lorempixel.com/350/150/city/')">

                <span class="caption">h3. Bootstrap heading</span>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#">
                <img src="http://lorempixel.com/350/150/cats" class="img-responsive " />
                <span class="caption">h3. Bootstrap heading</span>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#">
                <img src="http://lorempixel.com/350/150/people" class="img-responsive " />
                <span class="caption">h3. Bootstrap heading</span>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#">
                <span class="caption">Maak nieuw boek...</span>
            </a>
        </div>
    </div>
    <h3 class="rowheader">Gedeeld</h3>
    <div class="row books">
        <div class="col-sm-6 col-md-3">
            <a href="#">
                <img src="http://lorempixel.com/350/150/nature" class="img-responsive " />
                <span class="caption">h3. Bootstrap heading</span>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#">
                <img src="http://lorempixel.com/350/150/fashion" class="img-responsive " />
                <span class="caption">h3. Bootstrap heading</span>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#">
                <img src="http://lorempixel.com/350/150/technics" class="img-responsive " />
                <span class="caption">h3. Bootstrap heading</span>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="#">
                <img src="http://lorempixel.com/350/150/abstract" class="img-responsive " />
                <span class="caption">h3. Bootstrap heading</span>
            </a>
        </div>
    </div>-->
</div>

<script src="http://fb.me/react-0.13.1.js"></script>
<script src="@Url.Content("~/Scripts/View/Tutorial.jsx")"></script>