@model Models.PresentationModels.HomeIndexPM

@{
    ViewBag.Title = "Boeken";
}

<div class="col-xs-6 col-md-9 content" id="content">
    <div class="row books" id="mijnBoeken">
        <h3 class="rowheader">Mijn Boeken</h3>
        @*<ol class="breadcrumb list-inline">
                <li class="active"><span class="glyphicon glyphicon-home"></span></li>
            </ol>*@
        @foreach (Models.OmgevingsBoek_Models.Boek boek in Model.BoekenEigenaar)
        {
            <div class="col-sm-6 col-md-3">
                <a href="/home/Boek?id=@boek.Id">
                    <img class="img-responsive" src="@boek.Afbeelding" />
                    <span class="caption">@boek.Naam</span>
                </a>
            </div>
        }
        <div class="col-sm-6 col-md-3" id="toevoegenBoek">
            <a href="/Boeken/Create" id="toevoegenBoek">
                <div class="toevoegen">
                    <span class="caption"><span class="glyphicon glyphicon-plus"></span> Boek toevoegen</span>
                </div>
                <div class="toevoegenClick">
                    <input type="text" placeholder="Titel van het boek" id="boekTitel" naam="boekTitel" /><br />
                        <span class="btn btn-default btn-file">
                            Browse <input type="file" placeholder="Kies een bestand" />
                        </span>
                    <input class="btn btn-default" type="submit" />
                    <input class="btn btn-default" type="button" value="Annuleren" id="btnAnnulerenAddBoek" />

                </div>
            </a>
        </div>

    </div>
    <div class="row books" id="gedeeldeBoeken">
        <h3 class="rowheader">Gedeelde Boeken</h3>
        @foreach (Models.OmgevingsBoek_Models.Boek boek in Model.BoekenGedeeld)
        {
            <div class="col-sm-6 col-md-3">
                <a href="/home/Boek?id=@boek.Id">
                    <img src="@boek.Afbeelding" />
                    <span class="caption">@boek.Naam</span>
                </a>
            </div>
        }
    </div>
</div>




@*@Html.Partial("_PoiPartial", Model)*@

@{ Html.RenderAction("PoiPartial", "Home"); }
@*<script src="~/Content/js/boekenScript.js"></script>*@