@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12 col-md-9 content">
        <h3 class="rowheader">Mijn Boeken</h3>
        <div class="row books">
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <img src="http://lorempixel.com/350/150/city" class="img-responsive " />
                    <span class="caption">h3. Bootstrap heading</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <img src="http://lorempixel.com/350/150/sports" class="img-responsive " />
                    <span class="caption">h3. Bootstrap heading</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <img src="http://lorempixel.com/350/150/city" class="img-responsive " />
                    <span class="caption">h3. Bootstrap heading</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <img src="http://lorempixel.com/350/150/city" class="img-responsive " />
                    <span class="caption">h3. Bootstrap heading</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <span class="caption">Maak nieuw boek...</span>
                </a>
            </div>
        </div>
        <h3 class="rowheader">Gedeeld</h3>
        <div class="row books">
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <img src="http://lorempixel.com/350/150/city" class="img-responsive " />
                    <span class="caption">h3. Bootstrap heading</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <img src="http://lorempixel.com/350/150/city" class="img-responsive " />
                    <span class="caption">h3. Bootstrap heading</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <img src="http://lorempixel.com/350/150/city" class="img-responsive " />
                    <span class="caption">h3. Bootstrap heading</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#">
                    <img src="http://lorempixel.com/350/150/city" class="img-responsive " />
                    <span class="caption">h3. Bootstrap heading</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3 expandable sidebar">
        <button id="expand" class="expand btn btn-default input-group-addon">
            <span class="glyphicon glyphicon-map-marker" />
        </button>
        <form class="form-horizontal">
            <div class="row">
                <div class="form-group col-md-5 upload">
                    <label for="exampleInputFile">Upload afbeelding</label>
                    <input class="btn btn-default form-control" type="file" id="exampleInputFile">
                </div>
                <div class="form-group col-md-5">
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Naam">
                    <button class="btn btn-default form-control" id="inputPassword2" placeholder="Locatie" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Google Maps hier">
                        Locatie
                    </button>
                </div>
                <div class="form-group col-md-2 actions">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok" />
                    </button>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove" />
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Email">
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Telefoon">
                    <input type="text" class="form-control" readonly id="inputPassword2" placeholder="Adres">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="amount">Leeftijd doelgroep:</label>
                    <input type="hidden" class="form-control" id="amount" readonly style="">
                    <div class="input-group">
                        <span class="input-group-addon" id="minAge"></span>
                        <div class="form-control" id="slider-range"></div>
                        <span class="input-group-addon" id="maxAge"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="amount">Prijs per leerling:</label>
                    <div class="input-group">
                        <span class="input-group-addon">&euro;</span>
                        <input class="form-control" type="number" id="prijsLeerling">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-default form-control">
                        Inladen via FourSquare
                        <span class="glyphicon glyphicon-search" />
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
