@model Models.PresentationModels.HomeIndexPM

@{
    ViewBag.Title = "Home Page";
}

<div class="col-xs-6 col-md-9 content" id="content">
    @Html.React(
        "CommentList",
        new { data = Model.BoekenEigenaar },
        null,
        "content"
    )
</div>

<script src="http://fb.me/react-0.13.1.js"></script>
<script src="@Url.Content("~/Scripts/View/Tutorial.jsx")"></script>
@Html.ReactInitJavaScript()
