@model Models.PresentationModels.RoutePM
@{
    ViewBag.Title = "Route overzicht"
}

<script>
    gebruikerId = "@ViewBag.gebruikerId";
</script>

<div class="col-xs-12 col-md-12 content" id="content">

</div>
