
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@using (Html.BeginForm("Test", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <label for="file">Bestand:</label>
    <input type="file" name="picture" id="bes" /><br />


    <input type="submit" value="Opladen..." class="btn btn-default" />
}