@model List<Models.OmgevingsBoek_Models.Activiteit>
@{
    ViewBag.Title = "Activities";
}
<div class="adminList">
    <h2>Activiteiten</h2>

    <div id="buttonsAdBoven">
        <button><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        <button><span class="glyphicon glyphicon-pencil"></span> Bewerken</button>
    </div>


    <form id="formA">

        <table class="table table-hover">
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
            </colgroup>

            <tr>
                <th><span class="glyphicon glyphicon-th-list"></span></th>
                <th>Naam</th>
                <th>Eigenaar</th>
                <th>Poi's</th>
                <th>Opties</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>@item.Naam</td>
                    <td>@item.Eigenaar.Email</td>
                    <td>@item.Poi.Naam</td>
                    <td>
                        <div>
                            <button><span class="glyphicon glyphicon-remove"></span></button>
                            <button><span class="glyphicon glyphicon-pencil"></span></button>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>