@M
@{
    ViewBag.Title = "Boeken";
}

<h2>Boeken</h2>
<form action="demo_form.asp" method="get">
    <table style="background-color:green; border: 2px solid black;
    border-collapse: collapse;" class="col-xs-6 col-md-9 content">
        <tr>
            <th style="width:20%;   border-bottom: 1px solid black;
    border-collapse: collapse;">Naam</th>
            <th style="width:30%; border-bottom: 1px solid black;
    border-collapse: collapse;">Eigenaar</th>
            <th style="width:40%; border-bottom: 1px solid black;
    border-collapse: collapse;">Activiteiten</th>
            <th style="width:10%; border-bottom: 1px solid black;
    border-collapse: collapse;">Select</th>
        </tr>
        <tr>
            <td>Hallo</td>
            <td>Hallo</td>
            <td>Hallo</td>
            <td><input type="checkbox" name="vehicle" value="Car" checked="checked"></td>


        </tr>



    </table>
</form>