@{
    List<String> links = new List<String>() {
        "Activiteiten","Boeken","Gebruikers"
    };
    ViewBag.Title = "Admin Index";
}

<div class="col-xs-6 col-md-9 content" id="content">
    <div classname="row books" id="mijnBoeken">
        <div class="row books" data-reactid=".0"><h3 class="rowheader" data-reactid=".0.0">Overzicht</h3>
        <div class="col-sm-6 col-md-3" data-reactid=".0.1:0"><a href="../Admin/activities" style="" data-reactid=".0.1:0.0">
            <span class="caption" data-reactid=".0.1:0.0.0">Activiteiten</span></a></div>
        <div class="col-sm-6 col-md-3" data-reactid=".0.1:1"><a href="../Admin/boeken" style="" data-reactid=".0.1:1.0">
    <span class="caption" data-reactid=".0.1:1.0.0">Boeken</span>
</a></div>
        <div class="col-sm-6 col-md-3" data-reactid=".0.1:2"><a href="../Admin/gebruikers" style="" data-reactid=".0.1:2.0">
    <span class="caption" data-reactid=".0.1:2.0.0">Gebruikers</span>
</a></div>
            <div class="col-sm-6 col-md-3" data-reactid=".0.1:2">
                <a href="../Admin/pois" style="" data-reactid=".0.1:2.0">
                    <span class="caption" data-reactid=".0.1:2.0.0">Poi's</span>
                </a>
            </div>
        
        </div>
        
    </div>
</div>

<script src="http://fb.me/react-0.13.1.js"></script>
<script src="@Url.Content("~/Scripts/View/Boeken.jsx")">
</script>
@Html.ReactInitJavaScript()
