
@{
    ViewBag.Title = "Success";
}

<div class="col-xs-12 content">
    <h2>Gelukt</h2>
    <h3>Uw vraag is verstuurt en word zo snel mogelijk behandeld.</h3>
    @Html.ActionLink("Terug naar Boeken", "Index", "Home")

</div>