@model String

@{
    
}

@Styles.Render("~/Content/tags")

<div class="col-xs-6 col-md-3 expandable sidebar" id="activiteitSidebar" style="display:none;">
    <button id="expandactivity" class="expand btn btn-default input-group-addon">
        <span class="glyphicon glyphicon-ok" />
    </button>
    <div class="activity">
        <div class="row">
            <div class="form-group col-sm-10 col-md-10 upload">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input class="form-control" id="searchActivity" placeholder="Zoek Activiteiten">
                </div>
            </div>
        </div>
        <div id="listActivity">
            <div class="row activity">
                <div class="col-md-4 col-sm-4 preview">
                    <img class="img-responsive img-rounded" src="http://placehold.it/500/500" />
                </div>
            </div>
        </div>
    </div>
</div>


<script id="activity-template" type="text/x-handlebars-template">
    <div class="row activity" data-id="{{id}}" data-title="{{title}}">
        <div class="col-md-4 col-sm-4 col-xs-4 preview" style="background-image:url('{{image}}');">
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8  info">
            <h3><a href="../Activiteiten/Details/{{id}}">{{title}}</a></h3>
            <p class="location">{{city}}</p>
        </div>
    </div>
</script>

<script>var json2 = JSON.parse(@Html.Raw(Json.Encode(Model)));</script>

<script src="~/Scripts/handlebars.js"></script>
<script src="~/Content/js/activiteitpartialscript.js"></script>
<script src="~/Content/js/filteractivity.js"></script>