<div class="col-xs-6 col-md-3 expandable sidebar">
    <button id="expand" class="expand btn btn-default input-group-addon">
        <span class="glyphicon glyphicon-map-marker" />
    </button>
    
    <form class="form-horizontal" action="/Admin/AddUsers" method="post">
        
            <div class="form-group col-md-8 upload">
                <label for="exampleInputFile">Gebruikers Uitnodigen</label>
            </div>
            <div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="amount">Nodig gebruikers uit:</label>
                    <div class="input-group">
                        
                        <textarea name="Mails" id="mails" class="form-control" rows="10"></textarea>
                        <p>meerdere adressen mogelijk</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-success form-control" data-loading-text='<i class="fa fa-spinner fa-pulse"></i>'>
                    <span class="glyphicon glyphicon-ok" />
                </button>
                </div>
            </div>
    </form>
</div>
