<div class="col-xs-6 col-md-3 expandable sidebar">
    <button id="expand" class="expand2 btn btn-default input-group-addon">
        <p>Aanmaken Gebruiker</p>
    </button>
    
    <form class="form-horizontal" action="/Admin/AddUsers" method="post">
        
            <div class="form-group col-md-8 upload">
                <label for="exampleInputFile">Gebruikers Uitnodigen</label>
            </div>
            <div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="amount">Nodig gebruikers uit:</label>
                    <div>
                        
                        <textarea name="Mails" id="mails" class="form-control" rows="10"></textarea>
                        <p>meerdere adressen mogelijk</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-success form-control" data-loading-text='<i class="fa fa-spinner fa-pulse"></i>'>
                    <span class="glyphicon glyphicon-ok" />
                </button>
                </div>
            </div>
        @if(ViewBag.IsFout != null){
            if (!ViewBag.IsFout)
            {
                <p>Alle Uitnodigingen zijn succesvol verstuurd.</p>
            }
            else
            {
                if (ViewBag.Fouten != null)
                {
                    <p>Volgende email adressen zijn incorrect:</p>
                    <ul>
                    @foreach (string fout in ViewBag.Fouten)
                    {
                        <li>@fout</li>
                    }
                    </ul>
                }
                if (ViewBag.Gebruikt != null)
                {
                    <p>Volgende email adressen hebben al een uitnodiging:</p>
                    <ul>
                        @foreach (string fout in ViewBag.Gebruikt)
                        {
                            <li>@fout</li>
                        }
                    </ul>
                }
            }

        }


    </form>
</div>


<script src="~/Content/js/gebruikerpartialscript.js"></script>
