@model String

@{

}

@Styles.Render("~/Content/tags")

<div class="col-xs-6 col-md-3 expandable sidebar">
    <button id="expand" class="expand btn btn-default input-group-addon">
        <span class="glyphicon glyphicon-map-marker" />
    </button>
    <div class="poi">
        <form class="form-horizontal">
            <div class="row">
                <div class="form-group col-md-10 upload">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input class="form-control" id="searchPoi" placeholder="Zoek POIs">
                    </div>
                </div>
                <div class="form-group col-md-2 actions">
                    <button type="button" id="addPoi" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" />
                    </button>
                </div>
            </div>
        </form>
        <div id="list">
            <div class="row poi">
                <div class="col-md-4 preview">
                    <img class="img-responsive img-rounded" src="http://placehold.it/500/500" />
                </div>
                <div class="col-md-8 info">
                    <h3>Frietenmuseum</h3>
                    <p class="tags"><span>Geschiedenis</span><span>Museum</span><span>Panorama</span></p>
                    <p class="location">0.1Km Brugge</p>
                    <button type="button" class="tag btn btn-default">2 Activiteiten</button>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("AddPoi", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "hidden" }))
    { 
        <div class="row" >
            <div class="form-group col-md-5 upload">
                <label for="inputFile">Upload afbeelding</label>
                <div class="fileUpload btn btn-default form-control">
                    <span>Upload Foto</span>
                    <input type="file" class="upload" name="Afbeelding" id="exampleInputFile">
                </div>
            </div>
            <div class="form-group col-md-5">
                <input type="text" class="form-control" id="inputNaam" placeholder="Naam">
                <button type="button" class="btn btn-default form-control" id="locationPicker" placeholder="Locatie" data-container="body" data-toggle="popover" data-placement="bottom">
                    Locatie
                </button>
            </div>
            <div class="form-group col-md-2 actions">
                <button type="button" id="viewPoi" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" />
                </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <input type="text" class="form-control adresinputs" id="inputEmail" name="Email" placeholder="Email">
                <input type="text" class="form-control adresinputs" id="inputTelefoon" name="Telefoon" placeholder="Telefoon">
                <input type="text" class="form-control adresinputs" readonly id="inputAdres" placeholder="Adres">
                <input type="hidden" name="Straat" id="straatHidden"/>
                <input type="hidden" name="Nummer" id="nummerHidden" />
                <input type="hidden" name="Gemeente" id="gemeenteHidden"/>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="amount">Leeftijd doelgroep:</label>
                <input type="hidden" class="form-control" id="amount" readonly style="">
                <div class="input-group">
                    <span class="input-group-addon" id="minAge"></span>
                    <div class="form-control" id="slider-range"></div>
                    <span class="input-group-addon" id="maxAge"></span>
                    <input type="hidden" name="MinLeeftijd" id="minAgeHidden"/>
                    <input type="hidden" name="MaxLeeftijd" id="maxAgeHidden" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="amount">Prijs per leerling:</label>
                <div class="input-group">
                    <span class="input-group-addon">&euro;</span>
                    <input class="form-control" type="number" id="prijsLeerling" name="Prijs">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <div class="input-group">
                    <span class="input-group-addon tag"><span class="glyphicon glyphicon-tags"></span></span>
                    <input name="tags" class="form-control" id="tags" value="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-default form-control">
                    <span class="glyphicon glyphicon-ok" />
                </button>
            </div>
        </div>
    }
</div>

<div id="location_picker_wrapper" style="visibility:hidden;">
    <input class="form-control" type="text" id="us2-address" />
    <div id="us2" style="width: 244px; height: 244px;"></div>
    <input class="form-control" type="text" id="us2-lat" />
    <input class="form-control" type="text" id="us2-lon" />
</div>

<script id="poi-template" type="text/x-handlebars-template">
    <div class="row poi">
        <div class="col-md-4 preview" style="background-image:url('{{image}}');">
        </div>
        <div class="col-md-8 info">
            <h3>{{title}}</h3>
            <p class="tags">{{{tags}}}</p>
            <p class="location">{{distance}}km {{city}}</p>
            <button data-toggle="popover"
                    data-html="true"
                    data-content="{{{activities}}}"
                    type="button"
                    data-placement="bottom"
                    class="tag btn btn-default">
                        {{numActivities}} Activiteiten
            </button>
        </div>
    </div>
</script>

<script>var json = JSON.parse(@Html.Raw(Json.Encode(Model)));</script>

<script src="~/Scripts/handlebars.js"></script>
<script src="~/Scripts/jquery.tagsinput.min.js"></script>
<script src="~/Content/js/poipartialscript.js"></script>
<script src="~/Scripts/fuse.js"></script>
<script src="~/Content/js/filter.js"></script>
