
<div class="col-xs-6 col-md-3 expandable sidebar">
    <button id="expand" class="expand btn btn-default input-group-addon">
        <span class="glyphicon glyphicon-map-marker" />
    </button>
    <form class="form-horizontal">
        <div class="row">
            <div class="form-group col-md-5 upload">
                <label for="exampleInputFile">Upload afbeelding</label>
                <div class="fileUpload btn btn-default form-control">
                    <span>Upload Foto</span>
                    <input type="file" class="upload" id="exampleInputFile">
                </div>
            </div>
            <div class="form-group col-md-5">
                <input type="text" class="form-control" id="inputPassword2" placeholder="Naam">
                <button type="button" class="btn btn-default form-control" id="locationPicker" placeholder="Locatie" data-container="body" data-toggle="popover" data-placement="bottom">
                    Locatie
                </button>
            </div>
            <div class="form-group col-md-2 actions">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok" />
                </button>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" />
                </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <input type="text" class="form-control" id="inputPassword2" placeholder="Email">
                <input type="text" class="form-control" id="inputPassword2" placeholder="Telefoon">
                <input type="text" class="form-control" readonly id="inputPassword2" placeholder="Adres">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="amount">Leeftijd doelgroep:</label>
                <input type="hidden" class="form-control" id="amount" readonly style="">
                <div class="input-group">
                    <span class="input-group-addon" id="minAge"></span>
                    <div class="form-control" id="slider-range"></div>
                    <span class="input-group-addon" id="maxAge"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="amount">Prijs per leerling:</label>
                <div class="input-group">
                    <span class="input-group-addon">&euro;</span>
                    <input class="form-control" type="number" id="prijsLeerling">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-default form-control">
                    Inladen via FourSquare
                    <span class="glyphicon glyphicon-search" />
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    .pac-container {
     z-index:9999;
    }
</style>

<div id="location_picker_wrapper" style="visibility:hidden;">
    <input class="form-control" type="text" id="us2-address" />
    <div id="us2" style="width: 244px; height: 244px;"></div>
    <input class="form-control" type="text" id="us2-lat" />
    <input class="form-control" type="text" id="us2-lon" />
</div>

<script>
    function defer(method) {
        if (window.jQuery) {
            if (jQuery.ui)
                method();
        } else
            setTimeout(function () { defer(method) }, 50);
    }

   defer(function () {

        console.log("Jquery loaded");
        var collapsed = true;
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 18,
            values: [5, 10],
            slide: function (event, ui) {
                $("#amount").val("" + ui.values[0] + " - " + ui.values[1]);

                $("#minAge").text("" + ui.values[0]);
                $("#maxAge").text("" + ui.values[1]);
            }
        });

        $("#amount").val("" + $("#slider-range").slider("values", 0) +
                " - " + $("#slider-range").slider("values", 1));

        $("#minAge").text($("#slider-range").slider("values", 0));
        $("#maxAge").text($("#slider-range").slider("values", 1));

        $('#locationPicker').popover({
            html: true,
            content: function () {
                return $('#location_picker_wrapper').html();
            }
        });

        $('#locationPicker').on('shown.bs.popover', function () {
            // set what happens when user clicks on the button
            console.log("shown.bs.popover");
            $('.popover #us2').locationpicker('autosize');
            $('.popover #us2').locationpicker({
                location: { latitude: 46.15242437752303, longitude: 2.7470703125 },
                radius: 0,
                inputBinding: {
                    latitudeInput: $('.popover #us2-lat'),
                    longitudeInput: $('.popover #us2-lon'),
                    locationNameInput: $('.popover #us2-address')
                },
                enableAutocomplete: true
            });
        });

        $("#expand").click(function () {
            $(".sidebar form").toggleClass("form-exp");
            $(".expandable").toggleClass("expandable-exp");
            $(".expandable > #expand").toggleClass("expand-exp");
            $(".content").toggleClass("content-exp");
        });

    });
</script>
