@model String

@{

}

<div class="col-xs-6 col-md-3 expandable sidebar">
    <button id="expand" class="expand btn btn-default input-group-addon">
        <span class="glyphicon glyphicon-map-marker" />
    </button>
    <div class="poi">
        <form class="form-horizontal">
            <div class="row">
                <div class="form-group col-md-10 upload">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input class="form-control" id="searchPoi" placeholder="Zoek POIs">
                    </div>
                </div>
                <div class="form-group col-md-2 actions">
                    <button type="button" id="addPoi" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" />
                    </button>
                </div>
            </div>
        </form>
        <div id="list">
            <div class="row poi">
                <div class="col-md-4 preview">
                    <img class="img-responsive img-rounded" src="http://placehold.it/500/500" />
                </div>
                <div class="col-md-8 info">
                    <h3>Frietenmuseum</h3>
                    <p class="tags"><span>Geschiedenis</span><span>Museum</span><span>Panorama</span></p>
                    <p class="location">0.1Km Brugge</p>
                    <button type="button" class="tag btn btn-default">2 Activiteiten</button>
                </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal" hidden>
        <div class="row">
            <div class="form-group col-md-5 upload">
                <label for="exampleInputFile">Upload afbeelding</label>
                <div class="fileUpload btn btn-default form-control">
                    <span>Upload Foto</span>
                    <input type="file" class="upload" id="exampleInputFile">
                </div>
            </div>
            <div class="form-group col-md-5">
                <input type="text" class="form-control" id="inputNaam" placeholder="Naam">
                <button type="button" class="btn btn-default form-control" id="locationPicker" placeholder="Locatie" data-container="body" data-toggle="popover" data-placement="bottom">
                    Locatie
                </button>
            </div>
            <div class="form-group col-md-2 actions">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok" />
                </button>
                <button type="button" id="viewPoi" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" />
                </button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <input type="text" class="form-control adresinputs" id="inputEmail" placeholder="Email">
                <input type="text" class="form-control adresinputs" id="inputTelefoon" placeholder="Telefoon">
                <input type="text" class="form-control adresinputs" readonly id="inputAdres" placeholder="Adres">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="amount">Leeftijd doelgroep:</label>
                <input type="hidden" class="form-control" id="amount" readonly style="">
                <div class="input-group">
                    <span class="input-group-addon" id="minAge"></span>
                    <div class="form-control" id="slider-range"></div>
                    <span class="input-group-addon" id="maxAge"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="amount">Prijs per leerling:</label>
                <div class="input-group">
                    <span class="input-group-addon">&euro;</span>
                    <input class="form-control" type="number" id="prijsLeerling">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-default form-control">
                    Inladen via FourSquare
                    <span class="glyphicon glyphicon-search" />
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    .pac-container {
        z-index: 9999;
    }

    .tag {
        background-color: green;
        color: white;
        font-weight: bold;
        width: 100%;
    }

    .info {
        padding-left: 0;
    }

        .info h3 {
            margin: 0;
        }

    .row.poi {
        padding-bottom: 5px;
        padding-top: 7px;
        border-top: 1px solid rgba(211, 211, 211, 0.5);
    }

    .row.poi:last-child {
        border-bottom: 1px solid rgba(211, 211, 211, 0.5);
    }

    .poi .preview img {
        max-width: 95%;
    }

    .poi .preview {
        padding: 0;
        margin: 0px 5%;
        width: 23.333333333%;
        min-height: 8em;
        background-size: cover;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 5px;
    }


    p.tags span {
        padding: 1px 4px;
        margin-right: 3px;
        background-color: green;
        border-radius: 5px;
        color: white;
    }

    p.tags {
        margin: 0;
    }
</style>

<div id="location_picker_wrapper" style="visibility:hidden;">
    <input class="form-control" type="text" id="us2-address" />
    <div id="us2" style="width: 244px; height: 244px;"></div>
    <input class="form-control" type="text" id="us2-lat" />
    <input class="form-control" type="text" id="us2-lon" />
</div>

<script id="tag-template" type="text/x-handlebars-template">
    <span>{{tag}}</span>
</script>

<script id="poi-template" type="text/x-handlebars-template">
    <div class="row poi">
        <div class="col-md-4 preview" style="background-image:url('{{image}}');">
        </div>
        <div class="col-md-8 info">
            <h3>{{title}}</h3>
            <p class="tags">{{tags}}</p>
            <p class="location">{{distance}} {{city}}</p>
            <button type="button" class="tag btn btn-default">{{numActivities}} Activiteiten</button>
        </div>
    </div>
</script>

<script src="~/Scripts/handlebars.js"></script>
<script src="~/Content/js/poipartialscript.js"></script>
<script src="~/Scripts/fuse.js"></script>
<script src="~/Content/js/filter.js"></script>

<script>
    /*
        var poiSource = $("#poi-template").html();
        var poiTemplate = Handlebars.compile(poiSource);

        var tagSource = $("#poi-template").html();
        var tagTemplate = Handlebars.compile(tagSource);

        var context = {
            title: "My New Post",
            tags: "This is my first post!",
            distance: "0.2km",
            city: "Brugge",
            numActivities: "2",
        };
        var html = poiTemplate(context);
    */
</script>
